* {
  font-family: "Montserrat", sans-serif;
}
div {
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  margin: auto;
  border: 15px solid rgba(74, 166, 253, 0.925);
  border-radius: 10px;
  margin-top: 20px;
}
div > h2 {
  text-align: center;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h1 {
  text-align: center;
}
